<footer>
        <div class="liste_lien">
            <h3>Nos Offres</h3>
            <ul>
                <li><a routerLink="/formation-presentiel">Formations en présentiels</a></li>
                <li><a routerLink="/formation-distance">Formations à distance</a></li>
                <li><a routerLink="/formation-sur-mesure">Formations sur mesures</a></li>
            </ul>
        </div>
    <div class="liste_lien">
        <h3>À propos d’IT Formation</h3>
        <ul>
            <li><a routerLink="/home-page">Nos centres de formation</a></li>
            <li><a routerLink="/home-page">Recrutement</a></li>
            <li><a routerLink="/home-page">Notre histoire</a></li>
        </ul>
    </div>
    <div>
        <div class="liste_lien">
            <h3>À propos d’IT Formation</h3>
            <ul>
                <li><a routerLink="/home-page">FAQ</a></li>
                <li><a routerLink="/contact">Contactez-nous</a></li>
                <li><a routerLink="/home-page">Informations complémentaires</a></li>
            </ul>
        </div>
    <p>&copy; 2024 IT-Formation</p>
    </div>
</footer>
