<footer>
    <div>
        <div class="liste_lien">
            <h3>Nos Offres</h3>
            <ul>
                <li><button routerLink="/formation-presentiel">Formations en présentiels</button></li>
                <li><button routerLink="/formation-distance">Formations à distance</button></li>
                <li><button routerLink="/formation-sur-mesure">Formations sur mesures</button></li>
            </ul>
        </div>
        <p>&copy; 2024 IT-Formation</p>
    </div>
    <div class="liste_lien">
        <h3>À propos d’IT Formation</h3>
        <ul>
            <li><button routerLink="/home-page">Nos centres de formation</button></li>
            <li><button routerLink="/home-page">Recrutement</button></li>
            <li><button routerLink="/a-propos">Notre histoire</button></li>
        </ul>
    </div>
    <div>
        <div class="liste_lien">
            <h3>À propos d’IT Formation</h3>
            <ul>
                <li><button routerLink="/home-page">FAQ</button></li>
                <li><button routerLink="/contact">Contactez-nous</button></li>
                <li><button routerLink="/home-page">Informations complémentaires</button></li>
            </ul>
        </div>
    
    </div>
</footer>
