<app-header></app-header>
<section id="banniere_presentation">
    <div id="banniere"></div>
    <!-- <div class="assombrir"></div> -->
    <p id="titre">Nom de la formation</p>
    <div id="block_presentation" class="block">
        <p class="quote" id="quote1" >"</p>
        <div class="block_de_texte">
            <p>Description de la formation ici avec les points clés.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                Aliqua.
                <br>
                Ut enim ad minim veniam,
                quis nostrud exercitation
            </p>      
        </div>
        <p class="quote" id="quote2">"</p>
    </div>
</section>
<div id="spacing" class="neutre2"></div>
<section class="neutre2">
    <div class="informations">
        <div class="card-information">
            <mat-icon>alarm</mat-icon>
            <h4 class="titre-info">DURÉE</h4>
            <p class="info-primaire">700 heures de cours</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon>school</mat-icon>
            <h4 class="titre-info">CERTIFICATION</h4>
            <p class="info-primaire">Diplomante</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon> location_on</mat-icon>
            <h4 class="titre-info">MODALITÉS</h4>
            <p class="info-primaire">100% Présentiel</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon>business_center</mat-icon>
            <h4 class="titre-info">MÉTIERS</h4>
            <p class="info-primaire">700 heures de cours</p>
            <p class="info-secondaire">test info</p>
        </div>

    </div>
    <div class="cta">
        <button id="cta1">Je candidate</button>
        <button id="cta1">Je candidate</button>
    </div>
</section>

<app-footer></app-footer>
