<section id="banniere_presentation">
    <div id="banniere"></div>
    <h1 id="titre">{{formation.nom}}</h1>
    <div id="block_presentation" class="block">
        <p class="quote" id="quote1" >"</p>
        <div class="block_de_texte">
            <p>
                {{formation.descriptionMinimum}}
            </p>      
        </div>
        <p class="quote" id="quote2">"</p>
    </div>
</section>
<div id="spacing" class="neutre2"></div>
<section class="neutre2">
    <div class="informations">
        <div class="card-information">
            <mat-icon>alarm</mat-icon>
            <h4 class="titre-info">DURÉE</h4>
            <p class="info-primaire">{{formation.nbrJour}}</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon>school</mat-icon>
            <h4 class="titre-info">CERTIFICATION</h4>
            <p class="info-primaire">{{formation.typeCertification}}</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon> location_on</mat-icon>
            <h4 class="titre-info">MODALITÉS</h4>
            <p class="info-primaire">{{formation.typeFormation}}</p>
            <p class="info-secondaire">test info</p>
        </div>
        <div class="card-information">
            <mat-icon>business_center</mat-icon>
            <h4 class="titre-info">MÉTIERS</h4>
            @if (formation.metiers === "") {
                <p class="info-primaire">métiers inconnue</p>
            } @else {
                <p class="info-primaire">{{formation.metiers}}</p>
            }
            
            <p class="info-secondaire">test info</p>
        </div>

    </div>
    <div class="cta">
        <button id="cta1">Je candidate</button>
        <button id="cta2">Je télécharge le programme</button>
        <button id="cta3">J'assiste à un webinaire</button>
    </div>
</section>
<section>
    <div id="spacing2" class="bleu-roi">
        <img src="../../../assets/others/Qualiopi.png" alt="Qualiopi" class="logo-qualiopi">
    </div>
</section>
<section class="neutre2" >
    <h2 class="petit-titre">QU'ALLEZ-VOUS APPRENDRE PENDANT LA FORMATION <br>
        {{formation.nom}} ?
    </h2>
    <div class="detail-formation-grille">
        <div class="formateur-referent">
            <div class="profil-pic">
                <img src="../../../assets/others/jean marc.jpg" alt="jm" class="profil-pic-img">
            </div>
            <h4 class="prenom">Prénom NOM</h4>
            <p class="metier">Référent de la formation</p>
        </div>
        <div class="description-formation">
            <h3>DESCRIPTION DETAILLÉE</h3>
            <p>{{formation.descriptionDetailler}}</p>
        </div>
    </div>
    <div class="cta">
        <button id="cta1">Je candidate</button>
    </div>
</section>
