
h1, h2, h3, p, a, label, span{
    font-family:            "Montserrat";
}

#zone_formulaire{
    background-color:       #EDF2F4;
    display:                grid;
    grid-template-columns:  repeat(12,1fr);
    grid-template-rows:     25vh 20vh 125vh 10vh;
    height:                 675px; 
}
.titre{
    grid-row-start:         1;
    grid-column-start:      5;
    grid-column-end:        9;
}

h1{
    display:                absolute;
    justify-content:        center;
    font-family:            "Montserrat";
    color:                  black;

    padding-top:            37px;
    font-size:              3vh;
    font-weight:            600;
    line-height:            normal;
    width:                  640px;
    height:                 75px; 
    
    
    text-align:             center;
    margin-top: 15px;
}

.assombrir{
    position:               absolute;
    background-color:       rgba(43, 45, 66, 0.65);
    width:                  100%;
    height:                 360px;
}

span{
    color:                  #EF233C;
    font-style:             normal;
    font-weight:            600;
    line-height:            normal; 
}

#formulaire{
    grid-row-start:         2;
    grid-column-start:      5;
    grid-column-end:        9;

    width:                  640px;
    height:                 325px; 
    padding-top:            35px;
    padding-bottom:         15px; 

    background-color:       white;
    border-radius:          24px;

    display:                flex;
    justify-content:        center;
}

#formulaire form{
    display:                flex;
    flex-direction:         column;
    justify-content:        space-around;
    width:                  500px;
}

form div{
    display:                flex;
    flex-direction:         column;
}

.input-group input{
    height:                 51px;
    border-radius:          8px;
    border:                 2px solid #D9D9D9;
    font-size:              20px;
    padding-left:           20px;
    padding-right:          20px;
}

.input-group label{
    font-size:              20px;
    margin-bottom:          10px;
    font-style:             normal;
    font-weight:            500;
    line-height:            normal;
}

.input-group input:hover{
    border:                 2px solid #EF233C;
}

button{
    display:                flex;
    align-self:             flex-end;
    align-items:            center;
    justify-content:        center;

    width:                  100px;
    height:                 50px;
    border-radius:          30px;
    
    border:                 2px solid #EF233C;
    
    background-color:       #ffffff;
    color:                  #EF233C;

    font-weight:            bold;
}

button:hover{
    background-color:       #EF233C;
    color:                  white;
    cursor:                 pointer;
}

#zone_textarea{
    display:                flex;
    flex-direction:         column;
}

#zone_textarea label{
    margin-bottom:          10px;
    font-size:              20px;
    font-style:             normal;
    font-weight:            500;
    line-height:            normal;
}

#zone_textarea textarea{
    resize:                 none;
    height:                 200px;
    padding:                5px;
    border-radius:          8px;
    border:                 2px solid #D9D9D9;
    color:                  black;
    font-style:             normal;
    font-weight:            600;
    line-height:            normal;  
    font-family:            "Montserrat";
}

#zone_textarea textarea:hover{
    border:                 2px solid #EF233C;
}

.cta{
    display:                flex;
}