<div id="zone_formulaire">
    <div class="titre">
        <h1 >
            Pour vous connecter,<br>
            veuillez remplir le formulaire ci-dessous.
        </h1>
    </div>
    <div id="formulaire">
        <form [formGroup]="connection" (ngSubmit)="onSubmit()">
            <!-- Désignation -->
            <div class="input-group">
                <label class="label" for="identifiant"> 
                     Identifiant 
                </label>
                <input class="input" required type="text" formControlName="identifiant" id="identifiant"/>
                
                <!-- Si submitted est true et le champ désignation est INVALIDE -->
                @if(submitted && !form['identifiant'].valid){
                    <span>
                        * identifiant Invalide
                    </span>
                }
            </div>
        
            <div class="input-group">
                <label class="label" for="motDePasse">
                     Mot de passe 
                </label>
                <input required type="password" class="input" formControlName="motDePasse" id="motDePasse"/>
                @if(submitted && !form['motDePasse'].valid){
                    <span>* Mot de passe Invalide</span>
                }
            </div>

            <!-- Button -->
            <button type="submit">
                Connexion
            </button>
        </form>
    </div>    
</div>