.bouton-submit{
    width: 270px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #EF233C;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    background: #EF233C;
    color: white;
}

.bouton-submit:hover{
    color: #c81d31;
    background: #EDF2F4;
}