#card{
    width: 320px;
    height: 45vh;
    border-radius: 40px;
    background-color: #EDF2F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card button{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#card p{
    width: 170px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #EF233C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EF233C;
    font-weight: bold;
}

#card h3{
    color: #2B2D42;
    font-size: 100%;
}

#imgCardWhite{
    display: none;
}

#card:hover{
    background-color: #2B2D42;
    scale: 1.03;
    transition: 100ms;
}

#card:hover h3{
    color: white;
}

#card:hover p{
    background: #EF233C;
    color: white;
}

#card:hover #imgCardBlack{
    display: none;
}

#card:hover #imgCardWhite{
    display: block;
}


