<section id="banniere_presentation">
    <div id="banniere"></div>
    <h1>Tableau de bord Administrateur</h1>
</section>
<div class="grid">

    <div id="card-session" class="card">
        <h2>Session</h2>
        <div class="bouton">
            <button routerLink="/ajout-session">Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>
    <div id="card-formation" class="card">
        <h2>Formation</h2>
        <div class="bouton">
            <button routerLink="/ajout-formation">Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>
    <div id="card-user" class="card">
        <h2>Utilisateur</h2>
        <div class="bouton">
            <button>Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>
    <div id="card-adresse" class="card">
        <h2>Adresse</h2>
        <div class="bouton">
            <button routerLink="/ajout-adresse">Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>
    <div id="card-theme" class="card">
        <h2>Thème</h2>
        <div class="bouton">
            <button routerLink="/ajout-theme">Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>
    <div id="card-sous-theme" class="card">
        <h2>Sous-Thème</h2>
        <div class="bouton">
            <button routerLink="/ajout-sous-theme">Ajouter</button>
            <button>Modifier</button>
            <button>Supprimer</button>
        </div>
    </div>

    
</div>
