/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    --couleur_neutre: #EDF2F4;
    font-family: "Montserrat",  Roboto, "Helvetica Neue", sans-serif;
}
button{
    font-family: "Montserrat",  Roboto, "Helvetica Neue", sans-serif;
    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
