    <mat-card class="example-card">
        <mat-card-header>
            <div>
                <h2>{{formation.titre}}</h2>
                <div id="prix_ref">
                    <h1>{{numStr(formation.prix)}} € HT</h1>
                    <p>Référence: {{formation.reference}}0</p>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div id="block1">
                <p>{{formation.theme}}</p>
                <button>Souscrire à cettre formation</button>
            </div>
          <mat-divider></mat-divider>
          <div id="block2">
            <div id="duree">
                <img src="../../../../../assets/others/Horloge.svg" alt="">
                @if (formation.duree > 1) {
                    <p>{{formation.duree}} jours</p>
                } @else {
                    <p>{{formation.duree}} jour</p>
                }
                
            </div>
            <div id="type">
                <img src="../../../../../assets/others/multi_personnage_noir.svg" alt="">
                <img src="../../../../../assets/others/Screen_black.svg" alt="">
                <p>{{formation.type}}</p>
            </div>
            <div id="pre-requis">
                @if (formation.preRequis === 1) {
                    <img src="../../../../../assets/others/Smile.svg" alt="">
                    <p>Convient aux debutant</p>
                }@else if (formation.preRequis === 2) {
                    <img src="../../../../../assets/others/Attention.svg" alt="">
                    <p>Nécessite un pré-requis</p>
                }
            </div>
        </div>
        </mat-card-content>
      </mat-card>