    <mat-card class="example-card">
        <mat-card-header>
            <div>
                <h2>{{session.formation.nom}}</h2>
                <div id="prix_ref">
                    <h1>{{numStr(session.formation.prix)}} € HT</h1>
                    <p>Référence: {{session.formation.reference}}0</p>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div id="block1">
                <p>{{session.formation.sousTheme.designation}}</p>
                <button>Souscrire à cettre formation</button>
            </div>
          <mat-divider></mat-divider>
          <div id="block2">
            <div id="duree">
                <img src="../../../../../assets/others/Horloge.svg" alt="">
                @if (nombreDeJour(session.dateDebut,session.dateFin) === 1) {
                    <p>{{nombreDeJour(session.dateDebut,session.dateFin)}} jour</p>
                } @else {
                    <p>{{nombreDeJour(session.dateDebut,session.dateFin)}} jours</p>
                }
                    
            </div>
            <div id="type">
                @if (session.formation.typeFormation === "DISTANCIEL_PRESENTIEL") {
                    <img src="../../../../../assets/others/multi_personnage_noir.svg" alt="">
                    <img src="../../../../../assets/others/Screen_black.svg" alt="">
                    <p> Distanciel / Presentiel</p>
                }@else if(session.formation.typeFormation === "PRESENTIEL"){
                    <img src="../../../../../assets/others/multi_personnage_noir.svg" alt="">
                    <p>Presentiel</p>
                }@else {
                    <img src="../../../../../assets/others/Screen_black.svg" alt="">
                    <p>Distanciel</p>
                }
            </div>
            <div id="pre-requis">
                @if (session.formation.preRequis === "DEBUTANT") {
                    <img src="../../../../../assets/others/Smile.svg" alt="">
                    <p>Convient aux debutant</p>
                }@else{
                    <img src="../../../../../assets/others/Attention.svg" alt="">
                    <p>Nécessite un pré-requis</p>
                }
            </div>
        </div>
        </mat-card-content>
      </mat-card>