<div id="zone_formulaire">
  <p>Ajouter un nouveau Theme</p>
<div id="formulaire">

  <form [formGroup]="nouveauTheme" (ngSubmit)="onSubmit()">
      <!-- Désignation -->
      <div class="input-group">
          <label class="label" for="designation"> Désignation du thème <span>*</span></label>
          <input class="input" required type="text" formControlName="designation" id="designation"/>
          <!-- Si submitted est true et le champ désignation est INVALIDE -->
          @if(submitted && !form['designation'].valid){
              <span>* Nom de thème invalide</span>
          }
          
      </div>
      
       <p>* champs obligatoire</p>
      <!-- Button -->
      <button type="submit">Ajouter</button>
      
  </form>
  
</div>    
</div>

