/*.blocGris{
    width:              35vw;
    height:             5vh;
    padding-left:       15px; 
}*/

/*#Ligne_vous{
    width:              12vw;
    height:             5vh;
    padding-left:       45px;
    stroke-width:       6px;
    stroke:             #FFF;
    filter:             drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.70));
}*/

.blocBlanc{
    display:            flex;
    align-items:        center;
    justify-content:    center;

    width:              fixed 640px;
    height:             fixed 120px;
    border-radius:      20px;
    flex-shrink:        0;
    background:         #FFF;

    grid-column-start:  5;
    grid-column-end:    9;
    grid-row-start:     3;
 }

 input{
    width:              580px;
    height:             50px;
    border-radius:      30px;
    flex-shrink:        0;
    
    background:         1px solid #EDF2F4;
    color:              black;

    font-family:        Montserrat;
    font-size:          16px;
    font-style:         normal;
    font-weight:        600;
    line-height:        normal;
    
    padding-left:       10px;
    padding-right:      2Opx;

    display:            flex;
    align-items:        center;
    justify-content:    center;
    border-radius:      20px;

    grid-column-start:  5;
    grid-column-end:    9;
    grid-row-start:     3;

    grid-row-start:     2 px;
    grid-column-start:  2 px;
 } 

 loupe{
    color:              #EF233C;
    position:           relative;
    right:              45px;
 }

 input:hover{
    outline:            none;
    border-color:       #EF233C; /* Couleur de la bordure lorsqu'il est en focus */
    box-shadow:         0 0 2px black;
 }

 input::placeholder{
    color:              #EF233C;
    font-size:          16px;
    font-style:         normal;
    font-weight:        600;
    line-height:        normal;
}