.blocBlanc{
    display:            flex;
    align-items:        center;
    justify-content:    center;

    width:              640px;
    height:             120px;
    border-radius:      20px;
    background:         #FFF;

 }

 input{
   width:              550px;
   height:             50px;
   border-radius:      20px;
   border-width: 0px;
   border: #EF233C;
    
   background:         #EDF2F4;
   color:              #EF233C;
   font-family:        Montserrat;
   font-size:          16px;
   font-weight:        600;
   padding-left: 20px;
   border-color: #EF233C;
 } 

 .loupe{
    color:              #EF233C;
    position:           absolute;
    right: 55px;
    scale: 1.5 ;
 }

 input::placeholder{
    color:              #EF233C;
    font-size:          16px;
    font-weight:        600;
    margin-left: 50px;
}
input:focus {
   outline: none;
   
 }