h1, h2, h3, p, a{
    font-family: "Montserrat";
}

a{
   text-decoration: none; 
}

nav {
    background-color: #2B2D42;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nos_formation{
    display: flex;
    align-items: center;
}

#nos_formation img{
    margin-left: 1vh;
}

#logo_title_header a{
    display: flex;
    align-items: center;
}

#logo_title_header img{
    width: 70px;
    height: 58px;
}

#logo_title_header h1, #nos_formation{
    color: white;
    margin-left: 15px;
}

#User_black{
    display: none;
}

#navigation {
    display: flex;
    align-items: center;
}

#drop_down_espace_client button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    height: 35px;
    flex-shrink: 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

#drop_down_espace_client button:hover{
    background-color: white;
}

#drop_down_espace_client button:hover p{
    color: black;
}

#drop_down_espace_client button:hover #User_blanc{
    display: none;
}

#drop_down_espace_client button:hover #User_black{
    display: block;
}

#drop_down_espace_client{
    display: flex;
    flex-direction: column;
}

#drop_down {
    display: none;
    position: relative;
    background : #EDF2F4;
}

#drop_down  a{
    margin-top: 10px;
    color: #EF233C;
}

#barre_blanche {
    width  : 1px;
    height : 25px;
    background : white;
}

#icon_burger_menu{
    display: none;
    cursor: pointer;
    color: white;
}

.cursor_pointer{
    cursor: pointer;
}

.nav_text{
    display: flex;
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_text img{
    margin-left: 10px;
}
.menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

.separation {
    margin-left: 15px;
    margin-right: 15px;
}

.hover_ombre:hover p{
    text-shadow: 5px 5px 10px black;
}

@media only screen and (max-width: 1100px){
    nav{
        align-items: center;
    }

    #icon_burger_menu{
        display: block;
    }

    #icon_burger_menu:before{
        content: "\2630";
    }

    #barre_blanche{
        display: none;
    }

    #navigation{
        position: fixed;
        right: 10vw;
        top: -100%;
        padding: 2vh;
        border-radius: 5%;
        background-color: #2B2D42;
        display: flex;
        flex-direction: column;
    }

    .hover_ombre:hover{
        background-color: #32333f;
    }
}