<nav>
    <div id="logo_title_header" class="cursor_pointer"> 
        <button routerLink="/home-page">
            <img type="image/svg+xml" src="../../../../assets/Logo_IT_FORMATION/Logo_IT_Formation_white.svg" alt="Logo de la formation">
            <h1>IT FORMATION</h1>
        </button>
    </div>

    <div id="navigation">

        <div id="page_formation_contact_apropos">
            <div id="lien_page">
                <div class="separation">
                    <div class="formations">
                        <button id="nos_formation"> 
                        <p class="nav_text">NOS FORMATIONS</p> 
                            <img src="../../../assets/others/Arrow.svg">
                        </button> 
                        <div class="formation-dropdown">
                       
                        <div class="dropdown-content">
                            <div class="formation-dropdown-div" >
                                <button class="formation-dropdown-item" id="categorie-formation" routerLink="**">FORMATION BACK</button>
                                <button class="formation-dropdown-item" routerLink="/formations/2">Formation Python</button>
                                <button class="formation-dropdown-item" routerLink="/formations/3">Formation JAVA</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation C++</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation NodeJS</button>
                            </div>
                            <div class="formation-dropdown-div" >
                                <button class="formation-dropdown-item" id="categorie-formation" routerLink="**">FORMATION BUREAUTIQUE</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Excel Avancé</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Suite Office</button>
                                <button class="formation-dropdown-item" routerLink="/formations/6">Formation Linux</button>
                                <button class="formation-dropdown-item" id="categorie-formation" routerLink="**">FORMATION FRONT</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation React</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Angular</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Vue JS</button>
                            </div>
                            <div class="formation-dropdown-div" >
                                <button class="formation-dropdown-item" id="categorie-formation" routerLink="**">LES PLUS POPULAIRES</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Suite Office</button>
                                <button class="formation-dropdown-item" routerLink="/formations/3">Formation JAVA</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation UI / UX</button>
                                <button class="formation-dropdown-item" routerLink="/formations/2">Formation Python</button>
                                <button class="formation-dropdown-item" routerLink="**">Formation Excel Initiation</button>
                                <button class="formation-dropdown-item" routerLink="/formations/6">Formation Linux</button>
                                
                            </div>                            
                        </div>
                    </div>  
                    </div>
                     
                </div>
                <div id="barre_blanche" class="separation"></div>
                <div class="separation hover_ombre">
                    <button class="nav_text cursor_pointer" routerLink="/contact"><p>NOUS CONTACTER</p></button>
                </div>
                <div id="barre_blanche" class="separation"></div>
                <div class="separation hover_ombre">
                    <button  class="nav_text cursor_pointer" routerLink="/a-propos"><p>À PROPOS</p></button>
                </div>
                <div id="barre_blanche" class="separation"></div> 
            </div>
            
            <div id="logo_drop_down_liens">
                <img src="../../../assets/others/Arrow.svg">
            </div>
        </div>
        
    <div class="menu-wrap">
        <ul class="menu">
            <li class="menu-item">
                <button class="cursor_pointer" id="button-espace-client">
                    <img id="User_blanc" src="../../../assets/others/User_blanc.svg" alt="petit_personnage ">
                    <img id="User_black" src="../../../assets/others/User_black.svg" alt="petit_personnage">
                    <p>ESPACE CLIENT</p>
                </button>
                <ul class="drop-menu">
                    <div class="drop-menu-item" id="block"></div>
                    @if (typeCompte === "user") {
                        <li class="drop-menu-item"><button routerLink="/mes-formations">MES FORMATIONS</button></li>
                        <li class="drop-menu-item"><button (click)="seDeconnecter()">SE DECONNECTER</button></li>
                    }@else {
                        <li class="drop-menu-item"><button routerLink="/connection">SE CONNECTER</button></li>
                        <li class="drop-menu-item"><button routerLink="/inscription">S'INSCRIRE</button></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    </div>
    
</nav>