<nav>
    <div id="logo_title_header" class="cursor_pointer"> 
        <a href="home-page">
            <img type="image/svg+xml" src="../../../../assets/Logo_IT_FORMATION/Logo_IT_Formation_white.svg" alt="Logo de la formation">
            <h1>IT FORMATION</h1>
        </a>
    </div>

    <div id="navigation">

        <div id="page_formation_contact_apropos">
            <div id="lien_page">
                <div class="separation">
                    <div id="nos_formation"> 
                    <p class="nav_text">NOS FORMATIONS</p> 
                        <img src="../../../assets/others/Arrow.svg">
                    </div>
                </div>
                <div id="barre_blanche" class="separation"></div>
                <div class="separation hover_ombre">
                    <a class="nav_text cursor_pointer" href="contact"><p>NOUS CONTACTER</p></a>
                </div>
                <div id="barre_blanche" class="separation"></div>
                <div class="separation hover_ombre">
                    <a  class="nav_text cursor_pointer" routerLink="/a_propos"><p>À PROPOS</p></a>
                </div>
                <div id="barre_blanche" class="separation"></div> 
            </div>
            
            <div id="logo_drop_down_liens">
                <img src="../../../assets/others/Arrow.svg">
            </div>
        </div>

        <div id="page_connection_client">
            <button class="cursor_pointer">
                <img id="User_blanc" src="../../../assets/others/User_blanc.svg" alt="petit_personnage ">
                <img id="User_black" src="../../../assets/others/User_black.svg" alt="petit_personnage">
                <p>ESPACE CLIENT</p>
            </button>

            <div id="drop_down">
                <ul>
                    <li><a routerLink="/connexion">Se connecter</a></li>
                    <li><a routerLink="/inscription">S'inscrire</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>