<nav>
    <div id="logo_title_header"> 
        <a href="#">
            <img src="../../../../assets/Logo_IT_FORMATION/Logo_IT_Formation_white.png" alt="Logo de la formation">
            <h1>IT FORMATION</h1>
        </a>
    </div>
    <div id="navigation">
            <div class="separation">
                <div id="nos_formation"> 
                    <p class="nav_text">NOS FORMATIONS</p> 
                    <img src="../../../../assets/Arrow.svg">
                </div>
            </div>
            <div id="barre_blanche" class="separation"></div>
            <div class="separation hover_ombre">
                <a href="" class="nav_text"><p>NOUS CONTACTER</p></a>
            </div>
            <div id="barre_blanche" class="separation"></div>
            <div class="separation hover_ombre">
                <a href="" class="nav_text"><p>À PROPOS</p></a>
            </div>
            <div id="barre_blanche" class="separation"></div> 

            <div id="drop_down_espace_client" class="separation">
                <button>
                    <img id="User_blanc" src="../../../../assets/User_blanc.svg" alt="petit_personnage ">
                    <img id="User_black" src="../../../../assets/User_black.svg" alt="petit_personnage">
                    <p>ESPACE CLIENT</p>
                </button>
            <div id="drop_down">
                <ul>
                    <li><a href="">Se connecter</a></li>
                    <li><a href="">S'inscrire</a></li>
                </ul>
            </div>

        </div>    
        
    </div>
</nav>