<div id="block_filtre">
    
</div>
<div id="block_formations">
    <div id="filtre_formation">
        <div id="filtre_1" class="block_filtre">
            <p>Prix</p>
            <mat-slider min="100" max="5000" discrete [displayWith]="affichageSlider">
                <input matSliderStartThumb [value]="value">
                <input matSliderEndThumb [value]="value2">
            </mat-slider>
        </div>
        <div id="filtre_2" class="block_filtre">
            <section [formGroup]="toppings">
                <p><mat-checkbox formControlName="presentiel">Presentiel</mat-checkbox></p>
                <p><mat-checkbox formControlName="distanciel">Distanciel</mat-checkbox></p>
              </section>
        </div>
    </div>
    <div id="liste_formations">
        @if (isSessionFormation(sessionFormations)) {
            @for (session of sessionFormations; track session) {
                <app-card-formation-presentation [session]="session"></app-card-formation-presentation>
            }
        }@else {
            <div id="pas_de_formation">
                <p>0 résultats (0,18 secondes) </p>
                <h1>Pas de formations disponible</h1>
            </div>
        }
    </div>
</div>

