<div id="block_filtre">
    <form action="" [formGroup]="eval" (ngSubmit)="onSubmit()">
        <div id="filtre_1">
            <mat-radio-group class="card-radio-group" formControlName="salle">
                <mat-radio-button value="1">Presentiel</mat-radio-button>
                <mat-radio-button value="2">Distanciel</mat-radio-button>
            </mat-radio-group>
        </div>

        <section class="filtre_1" [formGroup]="toppings">
            <h4>Select your toppings:</h4>
            <p><mat-checkbox formControlName="1">Presentiel</mat-checkbox></p>
            <p><mat-checkbox formControlName="2">Distanciel</mat-checkbox></p>
          </section>

    </form>
</div>
<div id="block_formations">
    <div id="liste_formations">
        @if (formations) {
            @for (formation of formations; track formation) {
                <app-card-formation-presentation [formation]="formation"></app-card-formation-presentation>
            }
        }@else {
            <div id="pas_de_formation">
                <p>test</p>
                <p>Pas de formation</p>
            </div>
        }
        
    </div>
</div>

