#block_formations{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 10vh 1fr 10vh;
    justify-items: center;
}

#filtre_formation{
    width: 320px;
    grid-row-start: 2;
    grid-column-start:3;
    grid-column-end:5;
    display: flex;
    flex-direction: column;
}

#filtre_1{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--couleur_neutre);
}

#filtre_1 p{
    margin: 0;
    align-self: flex-start;
}

#filtre_2{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--couleur_neutre);
}

#filtre_2 section{
    margin: 0;
}

.block_filtre{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
}

mat-checkbox{
    --mdc-checkbox-selected-focus-icon-color: #EF233C;
    --mdc-checkbox-selected-hover-icon-color: #EF233C;
    --mdc-checkbox-selected-icon-color: #EF233C;
    --mdc-checkbox-selected-pressed-icon-color: #EF233C;
    --mdc-checkbox-unselected-focus-icon-color: #EF233C;
    --mdc-checkbox-selected-focus-state-layer-color: #EF233C;
    --mdc-checkbox-selected-hover-state-layer-color: #EF233C;
    --mdc-checkbox-selected-pressed-state-layer-color: #EF233C;
}

mat-slider{
    width: 250px;
    --mdc-slider-handle-color: #2B2D42;
    --mdc-slider-focus-handle-color: #2B2D42;
    --mdc-slider-hover-handle-color: #2B2D42;
    --mdc-slider-active-track-color: #2B2D42;
    --mdc-slider-inactive-track-color: black;
    --mdc-slider-with-tick-marks-inactive-container-color: #2B2D42;
}

#liste_formations{
    grid-row-start: 2;
    grid-column-start:6;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

#pas_de_formation{
    width: 880px;
    height: 324px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    color: grey;
}

#pas_de_formation h1{
    margin: 0;
}