<section id="banniere_presentation">
    <div id="banniere"></div>
    <h2>La formation qui VOUS fait progresser</h2>
    <app-search-bar id="searchBar"></app-search-bar>
</section>

<div id="card_zone">
    <div id="card_1">
        <app-card-home-page-type-formation [title]="designationFormationPresentiel" [urlImageWhite]="urlImagePresentielWhite" [urlImageBlack]="urlImagePresentielBlack"></app-card-home-page-type-formation>
    </div>
    <div id="card_2">
        <app-card-home-page-type-formation [title]="designationFormationDistanciel" [urlImageWhite]="urlImageDistancielWhite" [urlImageBlack]="urlImageDistancielBlack"></app-card-home-page-type-formation>
    </div>
    <div id="card_3">
        <app-card-home-page-type-formation [title]="designationFormationSurMesure" [urlImageWhite]="urlImageSurMesureWhite" [urlImageBlack]="urlImageSurMesureBlack"></app-card-home-page-type-formation>
    </div>
</div>

<section id="notation">
    <app-card-notation></app-card-notation>
</section>

<section id="partener">
    <h2>ILS NOUS FONT CONFIANCE (tqt)</h2>
    <app-card-parteners></app-card-parteners>
</section>
<app-saumong></app-saumong>
<app-footer></app-footer>