h1, h2, h3, p, a{
    font-family: "Montserrat";
}

.neutre_2{
    background: #EDF2F4;
}

#banniere{
    background: #2B2D42;
    background-image: url("../../../assets/background/background-header-title-01.png");
    width: 100vw;
    height: 360px;
}

.assombrir{
    position: absolute;
    background-color: rgba(43, 45, 66, 0.65);
    width: 100vw;
    height: 360px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

section p{
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.70);
    font-size: 65px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#card_zone{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows:30vh 20vh 30vh;
    align-items: center;
}

#card_1{
    grid-row-start:2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#card_2{
    grid-row-start:2;
    grid-column-start: 6;
    grid-column-end: 7;
}

#card_3{
    grid-row-start:2;
    grid-column-start: 9;
    grid-column-end: 10;
}

@media only screen and (max-width: 950px){

    #card_zone{
        background-color: aqua;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:20vh 1fr 2vh 1fr 2vh 1fr 20vh;
        align-items: center;
    }
    
    #card_1{
        grid-row-start:2;
        grid-column-start: 2;
    }
    
    #card_2{
        grid-row-start:4;
        grid-column-start:2;
    }
    
    #card_3{
        grid-row-start:6;
        grid-column-start: 2;
    }
}