<app-header></app-header>
<section>
    <div id="banniere"></div>
    <div class="assombrir"></div>
    <p>Lorem ipsum dolor sit amet</p>
</section>

<div id="card_zone">
    <div id="card_1">
        <app-card-home-page-type-formation [title]="designationFormationPresentiel" [urlImage]="urlImagePresentiel"></app-card-home-page-type-formation>
    </div>
    <div id="card_2">
        <app-card-home-page-type-formation [title]="designationFormationDistanciel" [urlImage]="urlImageDistanciel"></app-card-home-page-type-formation>
    </div>
    <div id="card_3">
        <app-card-home-page-type-formation [title]="designationFormationSurMesure" [urlImage]="urlImageSurMesure"></app-card-home-page-type-formation>
    </div>
</div>

<app-footer></app-footer>