h1, h2, h3, p, a, label, span{
    font-family:        "Montserrat";
}

#zone_formulaire{
    position:           absolute;
    font-family:        "Montserrat";
    color:              white;
    text-align:         center;
    text-shadow:        3px 4px 6px rgba(0, 0, 0, 0.70);
    font-size:          65px;
    font-weight:        600;
    line-height:        normal;
    text-transform:     uppercase;
}

p{
    grid-row-start:     2;
    grid-column-start:  5;
    grid-column-end:    9;
    text-align:         center;
    font-size:          3vh;
    font-style:         normal;
    font-weight:        600;
    line-height:        normal;    
}