#block_formations{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 10vh 1fr 10vh;
    justify-items: center;
}

#block_filtre{
    grid-row-start: 2;
    grid-column-start:3;
    grid-column-end: 5;
    width: 100%;
}

#filtre_1{
    background-color: var(--couleur_neutre);
    border-radius: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    --mdc-slider-handle-color: black;
    --mdc-slider-focus-handle-color: black;
    --mdc-slider-hover-handle-color: black;
    --mdc-slider-active-track-color: black;
    --mdc-slider-inactive-track-color: black;
    --mdc-slider-with-tick-marks-inactive-container-color: black;
    --mdc-slider-with-tick-marks-active-container-color: white;
    --mdc-slider-disabled-active-track-color: #000;
    --mdc-slider-disabled-handle-color: #000;
    --mdc-slider-disabled-inactive-track-color: #000;
    --mdc-slider-label-container-color: #000;
    --mdc-slider-label-label-text-color: #fff;
    --mdc-slider-with-overlap-handle-outline-color: #fff;
    --mdc-slider-with-tick-marks-disabled-container-color: #000;
    --mdc-slider-handle-elevation: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mat-slider-ripple-color: black;
    --mat-slider-hover-state-layer-color: rgba(63, 81, 181, 0.05);
    --mat-slider-focus-state-layer-color: rgba(63, 81, 181, 0.2);
    --mat-slider-value-indicator-opacity: 0.6;
}

#filtre_1 p{
    margin: 0;
}

#filtre_2{
    background-color: var(--couleur_neutre);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #EF233C;
    --mdc-checkbox-selected-hover-icon-color: #EF233C;
    --mdc-checkbox-selected-icon-color: #EF233C;
    --mdc-checkbox-selected-pressed-icon-color: #EF233C;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-selected-focus-state-layer-color: #EF233C;
    --mdc-checkbox-selected-hover-state-layer-color: #EF233C;
    --mdc-checkbox-selected-pressed-state-layer-color: #EF233C;
    --mdc-checkbox-unselected-focus-state-layer-color: black;
    --mdc-checkbox-unselected-hover-state-layer-color: black;
    --mdc-checkbox-unselected-pressed-state-layer-color: black;
}

#filtre_2 p{
    margin: 0;
}

#liste_formations{
    grid-row-start: 2;
    grid-column-start:6;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

#pas_de_formation{
    width: 880px;
    height: 324px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    color: grey;
}

#pas_de_formation h1{
    margin: 0;
}

#filtre_1{
    background-color: var(--couleur_neutre);
}

.example-card{
    background-color: var(--couleur_neutre);
    width: 880px;
    display: flex;
    border-radius: 24px;
    box-shadow: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 24px;
}

mat-card-header{
    padding: 0;
}

mat-card-header>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-card-header button{
    background: transparent;
    border: transparent;
    cursor: pointer;
}

mat-card-header button h2{
    font-size: 25px;
}

.example-card:hover mat-card-header button h2{
    text-decoration: underline #EF233C;
}

mat-card-content button{
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #EF233C;
    font-weight: bold;
    cursor: pointer;
}

mat-card-content button:not([disabled]):hover{
    color: #EF233C;
    background-color: #EDF2F4;
    border: 2px solid #EF233C;
}

mat-card-content button:disabled{
    cursor: default;
    opacity: 0.8;
}


mat-card-content{
    padding-left: 0px;
    padding-right: 0px;
}

mat-card-content.mat-mdc-card-content{
    padding-bottom: 0;
}

mat-card-content div{
    display: flex;
    justify-content: space-between;
}

#block1{
    margin-bottom: 5px;
}

#block1 p{
    padding-top: 15px;
}

#block2{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

img{
    margin-right: 10px;
    width: 30px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

#info_temp_noir{
    background-color: black;
    height: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

#info_temp_noir span{
    color: white;    
}

mat-card-header #info_temp_rouge{
    background-color: #EF233C;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
}

mat-card-header #info_temp_rouge span{
    color: white;    
}

#etat_evaluation div{
    background-color: black;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

#etat_evaluation span{
    color: white;
}

#duree{
    font-weight: 500;
}

#date_debut{
    font-weight: 500;
}